{% extends 'base.html' %}

{% block title %}
    The Task Page
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ value|yesno:"yes,no" }}</td>
                            </tr
                        {% endfor %}
                        >
                    </tbody>
                </table>
            {% else %}
                <p>
                    You have no tasks"
                {% endif %}
            {% endblock content %}
